.authSwitch {
  font-size: var(--text-sm);
  text-align: center;

  .text {
    color: var(--color-subtext);
  }

  .linkText {
    color: inherit;
    font-weight: var(--font-medium);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
