:root {
  --color-primary: #4f7f6a;

  --color-bg-page: #e0ede0;
  --color-bg-container: #ffffff;
  --color-bg-surface: #f0f7f5;

  --color-text: #030804;
  --color-subtext: #a4a5a9;
  --color-border: #927979;
}
