/* ===================== */
/* Brand / Primary       */
/* ===================== */

$blue-100: #eeebff;
$blue-300: #b7a9ff;
$blue-500: #4c2bf3;
$blue-600: #4024d1;
$blue-700: #351fb0;

/* ===================== */
/* Neutral / Surface     */
/* ===================== */

$white: #ffffff;

$gray-50: #f7f8fc;
$gray-100: #eceff6;
$gray-200: #dde2ee;

/* ===================== */
/* Text                  */
/* ===================== */

$gray-900: #0b1020;
$gray-500: #8b90a1;

/* ===================== */
/* Border / Divider      */
/* ===================== */

$gray-300: #cfd5e3;
$gray-400: #b8bfd3;

/* ===================== */
/* Semantic / State      */
/* ===================== */

/* Warning */
$yellow-100: #fff6e5;
$yellow-500: #e0b454;
$yellow-600: #c89c3f;

/* Error */
$red-100: #fdecec;
$red-500: #e25555;
$red-600: #c84444;
