@use '@/shared/styles/mixins/media' as *;

.authForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-8);

  .mainContent {
    width: 100%;
    max-width: 300px;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: var(--space-7);

      .icon {
        padding: var(--space-2);
        aspect-ratio: 1 / 1;
        border-radius: var(--radius-md);
        border: 1px solid var(--color-border);
        color: var(--color-subtext);
        margin-bottom: var(--space-3);
      }

      h1 {
        line-height: var(--leading-normal);
        font-size: var(--text-2xl);
        margin-bottom: var(--space-1);

        @include respond(xs) {
          font-size: var(--text-xl);
        }
      }

      p {
        font-size: var(--text-sm);
      }
    }

    .formContent {
      display: flex;
      flex-direction: column;
    }

    @include respond(sm) {
      max-width: 400px;
    }
  }

  @include respond(sm) {
    padding: var(--space-7) var(--space-8);
  }

  @include respond(xs) {
    padding: var(--space-5) var(--space-7);
  }
}
