.authForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-10);

  .mainContent {
    width: 60%;
    min-width: 300px;

    .header {
      text-align: center;
      margin-bottom: var(--space-7);

      p {
        font-size: var(--text-sm);
      }
    }
  }
}
