.authForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-8) var(--space-10);

  .mainContent {
    width: 60%;
    min-width: 300px;

    .header {
      text-align: center;
      margin-bottom: var(--space-7);

      h1 {
        line-height: var(--leading-normal);
        font-size: var(--text-2xl);
        margin-bottom: var(--space-1);
      }

      p {
        font-size: var(--text-sm);
      }
    }
  }
}
