@use '../tokens/colors' as *;

:root,
[data-theme='light'] {
  --color-primary: #{$blue-500};
  --color-primary-hover: #{$blue-600};
  --color-primary-active: #{$blue-700};

  --color-bg-page: #{$blue-100};
  --color-bg-container: #{$white};
  --color-bg-surface: #{$gray-50};

  --color-text: #{$gray-900};
  --color-subtext: #{$gray-500};

  --color-border: #{$gray-300};
  --color-divider: #{$gray-400};

  --color-warning-bg: #{$yellow-100};
  --color-warning: #{$yellow-500};
  --color-warning-hover: #{$yellow-600};

  --color-error-bg: #{$red-100};
  --color-error: #{$red-500};
  --color-error-hover: #{$red-600};
}
