@use '@/shared/styles/mixins/media' as *;

.authLayout {
  flex: 1;
  display: flex;
  background-image: url('@/features/auth/assets/images/auth-banner.png');
  background-size: cover;
  background-position: center;
  padding: var(--space-9) var(--space-8);

  .authContainer {
    flex: 1;
    display: flex;
    background-color: var(--color-bg-container);
    padding: var(--space-2);
    border-radius: var(--radius-xl);

    @include respond(sm) {
      padding: 0;
      margin: 0 3vh;
    }

    @include respond(xs) {
      margin: 0;
      border-radius: 0;
    }
  }

  @include respond(xs) {
    background: none;
    padding: 0;
  }
}
