.appLogo {
  display: flex;
  align-items: center;
  gap: var(--space-1);

  img {
    width: 20px;
  }

  .appName {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
  }

  &.icon {
    img {
      width: 50px;
    }
  }
}
