.searchInputWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  border-radius: var(--radius-md);
  background-color: var(--color-bg-container);
  border: 1px solid var(--color-border);
  padding: var(--space-1) var(--space-2);
  transition: border ease 0.2s;

  .searchIcon {
    color: var(--color-subtext);
    transition: color ease 0.2s;
  }

  .input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    line-height: var(--leading-normal);
  }

  .clearBtn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity ease 0.2s;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &:has(.input:focus) {
    border: 1px solid var(--color-accent);

    .searchIcon {
      color: var(--color-accent);
    }
  }
}
