::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-bg);
  border-radius: var(--radius-lg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: var(--radius-lg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}
