@use '../tokens/breakpoints' as *;

@mixin respond($size) {
  @if map-has-key($breakpoints, $size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "No breakpoint named `#{$size}` found.";
  }
}
